ULEX.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:element name="UFSJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="language">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Author" nillable="true">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" default="Anonymous" />
                    <xs:element name="Contact" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="langId" type="xs:unsignedShort" use="required" />
            <xs:attribute name="Local" type="xs:string" use="optional" />
            <xs:attribute name="langVer" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="strings">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="Key" type="xs:string" use="required" />
                      <xs:attribute ref="xml:space" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>